<div th:fragment="fallback" th:remove="tag">
	<div class="alert alert-info">
		<strong>Something went wrong!</strong> Looks like your Browser doesn't
		support some fancy new Features. The page will not be displayed
		correctly!
		<p>
		<p>HTML5 Feature Checks:
		<ul>
			<li class="audio">audio</li>
			<li class="cssgrid">cssgrid</li>
			<li class="video">video</li>
		</ul>
		</p>
			<a href="https://www.facebook.com/RooftopRadioBand/" target="_blank">
				<img class="sociallogo" src="facebook.png"><span
				style="font-size: large;"> Visit us on facebook instead</span>
			</a>
		</p>
	</div>
</div>