body {
	background: radial-gradient(circle, #f0f, rgb(0, 0, 0));
}

.backreverse {
	background: radial-gradient(circle, rgb(0, 0, 0), #f0f);
}

.sociallogo {
	height: 50px;
	width: 50px;
}

.customlogo {
	height: 50px;
}

/* LAYOUT */

.site {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"title"
	"player"
	"contact"
	"insta"
	"bandcamp"
	"paypal"
	"facebook"
	"youtube"
	"spotify"
	"gallery"
	;
}

@media screen and (min-width: 40em) {
	.site {
	justify-items: center;
	grid-template-columns: 1fr 2fr 400px 1fr;
		grid-template-rows: 30px auto auto 60px 100px 60px 100px 60px;
		grid-template-areas: 
		  ". . . ."
		  ". title player ."
			". contact gallery ."
		  ". . . ."
			". paypal bandcamp ."
		  ". . . ."
			". insta facebook ."
		  ". . . ."
			". youtube spotify ."
		  ". . . .";
	}
}

@media screen and (min-width: 80em) {
	.site {
	justify-items: center;
	grid-template-columns: 1fr 1fr 400px 1fr;
	grid-template-rows: 30px auto 60px 100px 30px 100px 60px;
		grid-template-areas: ". . . ."
		  "title contact gallery player"
		  ". . . ."
			"paypal insta facebook bandcamp"
			". . . ."
			". youtube spotify ."
			". . . .";
	}
}

.rooftop-header {
	grid-area: header;
	background-color: brown;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: row1-start;
	grid-row-end: 1;
}

.rooftop-title {
	grid-area: title;
	font-size: large;
	font-style: center;
	width: 300px;
}

.rooftop-card {
	font-size: large;
	place-self: center;
	align-self: stretch;
	width: 304px;
	heigth: 36rem;
	background-color: black;
    border: solid 2px #fff;
    box-shadow:
        inset 10px 0 120px #f0f,  /* left magenta */
        inset -10px 0 120px #0ff; /* right cyan */

}

.rooftop-player {
	grid-area: main1;
	grid-column-start: 1;
	grid-column-end: span col4-start;
	grid-row-start: 2
	grid-row-end: span 2
}

audio
{
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}

.player {
	grid-area: player;
    transition: transform ease-in-out 300ms;
}

.player:hover {
	transform: perspective(600px) rotateY(-5deg) scale(1.1, 1.1);
}
	
.artists {
	grid-area: artists;
}
.youtube {
	grid-area: youtube;
}
.spotify {
	grid-area: spotify;
}
.contact {
	grid-area: contact;
}
.insta {
	grid-area: insta;
}
.facebook {
	grid-area: facebook;
}
.bandcamp {
	grid-area: bandcamp;
}
.paypal {
	grid-area: paypal;
}

.impressum {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

/* NavBar */

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 18px 22px;
  text-decoration: none;
  font-size: 20px;

  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;

}

/* Change the color of links on hover */
.topnav a:hover {
  	color: white;
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 50px #e60073;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Glow */

.glow {
  color: #fff;
  text-align: center;
/*  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;*/
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
}

.glow a {
  color: #caffff;
}

@-webkit-keyframes glow {
  from {
     text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
  }
  to {
    text-shadow: 0 0 8px #fff, 0 0 13px #ff4da6, 0 0 18px #ff4da6, 0 0 22px #ff4da6, 0 0 28px #ff4da6, 0 0 33px #ff4da6, 0 0 37px #ff4da6;
  }
}

/* Fancy Background */

#video_background {
	position: fixed;
	top: 0px;
	right: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}
#video_pattern {
	position: fixed;
	opacity: 0.5;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.girl {
	background-image: url("../girlback.png");
	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover;
}

.insidebox {
	background-color: black;
    border: solid 2px #fff;
    box-shadow:
        inset 120px 0 240px #f0f,  /* left magenta */
        inset -120px 0 240px #0ff; /* right cyan */

background: linear-gradient(270deg, #000000, #000000, #e91aff, #000000, #000000, #000000, #2de6ec, #000000);
background-size: 1200% 1200%;

/* -webkit-animation: AnimationName 120s ease infinite;
-moz-animation: AnimationName 120s ease infinite;
animation: AnimationName 120s ease infinite;
 */
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* modernizr Fallbacklayout*/

.fallback {
	display: none;
}

ul{-webkit-column-count: 3;-moz-column-count: 3;column-count: 3;}
li{color:green}
.no-audio li.audio{ color: red; }
.no-cssgrid li.cssgrid{ color: red; }
.no-cssgridlegacy li.cssgridlegacy{ color: red; }
.no-video li.video{ color: red; }
.no-setclasses li.setclasses{ color: red; }

/* .no-cssgrid div.fallback{ display: inherit; } */

.no-cssgrid div.site{
	display: flex;
	flex-direction: row;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 1100px;
}

.no-cssgrid title{ order: 1; }
.no-cssgrid contact{ order: 3; }
.no-cssgrid player{ order: 2; }
.no-cssgrid video1 { order: 4; }
.no-cssgrid video2 { order: 5; }
.no-cssgrid insta { order: 6; }
.no-cssgrid facebook {	order: 7;}

/* Gallery */

.gallery {
  width: 300;
  grid-area: gallery;
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
}

.img-c {
  width: 120px;
  height: 120px;
  float: left;
  position: relative;
  overflow: hidden;
}

.img-w {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: transform ease-in-out 300ms;
}

.img-w img {
  display: none;
}

.img-c {
    transition: width ease 400ms, height ease 350ms, left cubic-bezier(0.4, 0, 0.2, 1) 420ms, top cubic-bezier(0.4, 0, 0.2, 1) 420ms;
}

.img-c:hover .img-w {
  transform: scale(1.08);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 450ms;
}

.img-c.active {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  z-index: 2;
  //transform: translateX(-50%);
}

.img-c.postactive {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

.img-c.active.positioned {
  left: 0 !important;
  top: 0 !important;
  transition-delay: 50ms;
}

.playerbutton {
  display: inline-block;
  background-color: #000000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 5px;
  width: 90%;
  margin-top: 5px;
  border-radius: 20px;
 }

.playerbutton:hover {
	text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
}

.playerbuttonmobile {
  display: inline-block;
  border-radius: 4px;
  background-color: #000000;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 70px;
  padding: 20px;
  width: 500px;
  transition: all 0.5s;
  margin: 5px;
 }

.sociallogomobile {
	margin-left: 10px;
	margin-right: 10px;
	height: 150px;
	width: 150px;
}

.paypallogomobile {
	margin-left: 10px;
	margin-right: 10px;
	transform: scale(2);
}

.textmobile {
  color: #FFFFFF;
  text-align: center;
  font-size: 70px;

}

.impressummobile {
  color: #FFFFFF;
  text-align: center;
  font-size: 50px;
}

.impressumbuttonfull {
	border: none;
	display: block;
/* 	font-size: 70px; */
/* 	width: 100%; */
	background-color: Transparent;
	color: white;
	text-align: center;
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 50px;
}

.impressumfull {
	background-color: black;
	opacity: 0.9;
	color: white;
	overflow-y: auto;
	position: absolute;
	top: 50px;
	left: 50px;
	width: 60%;
}

.textmobile a {
  color: #FFFFFF;
}

.impressumbuttonmobile {

  border: none;
  display: block;
  font-size: 70px;
  width: 100%;
  background-color: Transparent;
  color: white;
  text-align: center;
	
}

.playercontrolsmobile {
  display: block;
  font-size: 60px;
  position: fixed;
  left: 0;
  bottom: -200;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;

  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

}

.playercontrols {

  align-self: flex-end;
	
  display: block;
  left: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;

  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

}

.playerspace {
	  color: #FFFFFF;
	  text-align: center;
	  font-size: 30px;
	  height: 300px;
}

.trapezoid {
	  transform: perspective(600px) rotateY(-3deg) scale(1.1,1.1);
	  
    -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;

  animation-name: wobble;
  animation-duration: 5s;
  animation-direction: alternate;

	animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	-o-animation-iteration-count: infinite;
}

@keyframes wobble {
  from {transform: perspective(600px) rotateY(5deg) scale(1.1,1.1);}
  to {transform: perspective(600px) rotateY(-5deg) scale(1.1,1.1);}
}
