<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('Login')" />
<body>
	<div id="root">
		<div th:replace="fragments/nav :: nav"></div>

		<div class="alert alert-warning" role="alert">
			<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
			Achtung: Diese Seite befindet sich gerade im Aufbau!
		</div>

		<ul>
			<li style="display: inline-block;">
				<div class="card" style="width: 36rem;">
					<img class="card-img-top" src="logo_sunrise.jpg"
						alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Welcome</h5>
						<p class="card-text">Willkommen auf der Rooftop Radio Band
							Page! Viel Spaß beim Rumstöbern!</p>
					</div>
				</div>
			</li>
			<li style="display: inline-block;">
				<div class="card" style="width: 36rem;">
					<img class="card-img-top"
						src="https://media.giphy.com/media/joV1k1sNOT5xC/giphy-downsized.gif"
						alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">- Under Construction -</h5>
						<p class="card-text">Schön, dass ihr da seid - aber wir bauen
							noch! Besucht uns in der Zwischenzeit auf Facebook:</p>
						<p>
							<a href="http://www.facebook.com/RooftopRadioBand"
								target="_blank">http://www.facebook.com/RooftopRadioBand</a>
						</p>
					</div>
				</div>
			</li>
			<li style="display: inline-block;">
				<div class="card" style="width: 36rem;">
					<img class="card-img-top" src="fete_de_la_mugge.jpg"
						alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Artists</h5>
						<p class="card-text">
							Natürlich haben wir nicht immer Zeit um euer Festival zu
							bespielen. Deswegen findet <a href="/">hier</a> ihr eine
							Übersicht über andere Musiker aus der Region.
						</p>
					</div>
				</div>
			</li>
			<li style="display: inline-block;">
				<div class="card" style="width: 36rem;">
					<img class="card-img-top" src="world.jpg" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Contact</h5>
						<p class="card-text">
							Bookinganfragen sendet ihr am besten per Mail an
							band@rooftopradio.de oder per Nachricht über unsere <a
								href="http://www.facebook.com/RooftopRadioBand" target="_blank">Facebook-Seite</a>!
						</p>
					</div>
				</div>
			</li>
			<li style="display: inline-block;">
				<div class="card" style="width: 36rem;">
					<iframe width="300" height="232"
						src="https://www.youtube.com/embed/cqbFlFd_CuM" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
					<div class="card-body">
						<h5 class="card-title">Track: Don't remember</h5>
						<p class="card-text">
							Besucht uns auf Youtube 
							<a href="https://www.youtube.com/channel/UCasa0j7aoamnxFez2JYRQrA">Youtube</a>!
						</p>
					</div>
				</div>
			</li>
			<li style="display: inline-block;">
				<div class="card" style="width: 36rem;">
					<iframe width="300" height="232"
						src="https://www.youtube.com/embed/XhmWdbrLBVA" frameborder="0"
						allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
					<div class="card-body">
						<h5 class="card-title">Featured Track: Astray</h5>
						<p class="card-text">
							Besucht uns auf Youtube <a
								href="https://www.youtube.com/channel/UCasa0j7aoamnxFez2JYRQrA">Youtube</a>!
						</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
</body>
<div th:replace="fragments/footer :: foot"></div>
<script>
var app = new Vue({
    el: '#root',
    data : { },
    mounted(){

    },
    methods: {

    }
});	
</script>
</html>