<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('Login')" />
<body>
	<div id="root">
		<login-component></login-component>

		<div class="site insidebox">
			<div class="card rooftop-title">
				<img class="card-img-top" src="logo_neon.jpg" alt="Card image cap">
				<div class="card-body" style="margin: 10px 10px 10px 10px;">
					<p></p>
					<p class="card-text glow">FRESH ROCK FROM GÖRLITZ</p>
				</div>
			</div>

			<div class="card rooftop-card main1 glow">
				<img class="card-img-top"
					src="https://media.giphy.com/media/nbMyyavyfQ56QfHCuw/200w_d.gif"
					alt="Card image cap">
				<div class="card-body" style="margin: 10px 10px 10px 10px;">
					<h5 class="card-title">
						<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
						404 CSS Not Found - Under Construction
					</h5>
					<p class="card-text">Schön, dass ihr da seid - aber wir bauen
						noch! :-)</p>
				</div>
			</div>

			<div class="card rooftop-card main2 glow">
				<img class="card-img-top"
					src="fete_de_la_mugge.jpg" alt="Card image cap">
					<div class="card-body" style="margin: 10px 10px 10px 10px;">
						<h5 class="card-title">Artists</h5>
						<p class="card-text">
							Sollten wir wirklich mal keine Zeit haben euer Festival zu
							bespielen findet ihr <a href="/">hier ihr eine Übersicht</a> über
							andere Musiker aus der Region.
						</p>
					</div>				
			</div>

			<div class="card video1">
				<p></p>
				<a href="https://www.youtube.com/watch?v=XhmWdbrLBVA" target="_blank"> <img
					class="sociallogo" src="youtube.png"><span class="glow"
					style="font-size: large;"> Klickt uns auf Youtube!</span>
				</a>
				<p></p>
			</div>

			<div class="card video2">
				<p></p>
				<a href="https://open.spotify.com/artist/7mlAiaGg8FYFj7pD9Pq1jp">
					<img class="sociallogo" src="spotify_small.png"><span
					class="glow" style="font-size: large;"> Hört uns auf
						Spotify!</span>
				</a>
				<p></p>
			</div>

			<div class="card rooftop-card contact glow">
				<img class="card-img-top" src="world.jpg" alt="Card image cap">
				<div class="card-body" style="margin: 10px 10px 10px 10px;">
					<h5 class="card-title">Contact</h5>
					<p class="card-text">
						Bookinganfragen sendet ihr am besten per Mail an
						<a href="mailto:band@rooftopradio.de">band@rooftopradio.de</a> oder per Nachricht über unsere <a
							href="http://www.facebook.com/RooftopRadioBand" target="_blank">Facebook-Seite</a>!
					</p>
				</div>
			</div>

			<div class="card insta">
				<p></p>
				<a href="https://www.instagram.com/rooftopradioband/" target="_blank"> <img
					class="sociallogo" src="instagram.png"><span class="glow"
					style="font-size: large;"> Folgt uns auf Instagram!</span>
				</a>
				<p></p>
			</div>

			<div class="card facebook">
				<p></p>
				<a href="https://www.facebook.com/RooftopRadioBand/" target="_blank"> <img
					class="sociallogo" src="facebook.png"><span class="glow"
					style="font-size: large;"> Lasst uns ein "Like" da!</span>
				</a>
				<p></p>
			</div>
		</div>
	</div>
</body>
<div th:replace="fragments/footer :: foot" class="footer"></div>
<script>
var app = new Vue({
    el: '#root',
    data : { },
    mounted(){

    },
    methods: {


    }
});	
</script>
</html>
