<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link href="sticky-footer.css" rel="stylesheet">
<meta charset="UTF-8" />
<title>Bandlist powered by Rooftop Radio</title>
<link rel="stylesheet" href="/main.css" />
</head>
<body>

    <h3>Übersicht über Musiker aus dem Landkeis Görlitz</h3>
	<div class="alert alert-warning" role="alert">
	  Achtung: Diese Seite befindet sich gerade im Aufbau!
	</div>
	<div id="react"></div>

	<footer class="footer">
		<div class="container">
			<span class="text-muted">Kontakt: band@rooftopradio.de - Rooftop Radio @ 09.11.2018</span>
		</div>
	</footer>

	<script src="built/bundle.js"></script>

</body>
</html>