<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('Login')" />
<body>
	<div id="root">
		<div th:replace="fragments/nav :: nav"></div>

		<!-- div class="alert alert-warning" role="alert">
			<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
			Achtung: Diese Seite befindet sich gerade im Aufbau!
		</div> -->

		<center>
			<ul>
				<li style="display: inline-block;">
					<div class="card" style="width: 36rem;">
						<iframe width="300" height="232"
							src="https://www.youtube.com/embed/XhmWdbrLBVA" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
						<div class="card-body">
							<h5 class="card-title">Astray</h5>
						</div>
					</div>
				</li>
				<li style="display: inline-block;">
					<div class="card" style="width: 36rem;">
						<iframe width="300" height="232"
							src="https://www.youtube.com/embed/cqbFlFd_CuM" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
						<div class="card-body">
							<h5 class="card-title">Don't remember</h5>
						</div>
					</div>
				</li>
			</ul>

			<ul>
				<li style="display: inline-block;">
					<div class="card" style="width: 36rem;">
						<iframe width="300" height="232"
							src="https://www.youtube.com/embed/CaVYTRntDsk" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
						<div class="card-body">
							<h5 class="card-title">Too Late</h5>
						</div>
					</div>
				</li>

				<li style="display: inline-block;">
					<div class="card" style="width: 36rem;">
						<iframe width="300" height="232"
							src="https://www.youtube.com/embed/mK0qggVFfbg" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
						<div class="card-body">
							<h5 class="card-title">Neben Dir</h5>
						</div>
					</div>
				</li>
			</ul>
		</center>
	</div>
</body>
<div th:replace="fragments/footer :: foot"></div>
<script>
var app = new Vue({
    el: '#root',
    data : { },
    mounted(){

    },
    methods: {

    }
});	
</script>
</html>