<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('Login')" />
<body>
	<div id="root">
		<div th:replace="fragments/nav :: nav"></div>

		<div style="width: 40%;margin: auto;">
			<ul style="display: flex; align-items: flex-start; justify-content: space-evenly; background: radial-gradient(circle, #b1bfd6, #f7efe3);">
				<li style="display: inline-block;">
					<div class="card"
						style="width: 300px; heigth: 36rem; background-color: #fff;box-shadow: 5px 10px #36383d;">
						<iframe width="300" height="232"
							src="https://www.youtube.com/embed/XhmWdbrLBVA" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
						<div class="card-body" style="margin: 10px 10px 10px 10px;">
							<h5 class="card-title">Astray</h5>
							<p class="card-text"><span class="glyphicon glyphicon-music" aria-hidden="true"></span></p>
						</div>
					</div>
				</li>
				<li style="display: inline-block;">
					<div class="card"
						style="width: 300px; heigth: 36rem; background-color: #fff;box-shadow: 5px 10px #36383d;">
						<iframe width="300" height="232"
							src="https://www.youtube.com/embed/cqbFlFd_CuM" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
						<div class="card-body" style="margin: 10px 10px 10px 10px;">
							<h5 class="card-title">Don't Remember</h5>
							<p class="card-text"><span class="glyphicon glyphicon-music" aria-hidden="true"></span></p>
						</div>
					</div>
				</li>
			</ul>

			<ul style="display: flex; align-items: flex-start; justify-content: space-evenly; background: radial-gradient(circle, #b1bfd6, #f7efe3);">
				<li style="display: inline-block;">
					<div class="card"
						style="width: 300px; heigth: 36rem; background-color: #fff;box-shadow: 5px 10px #36383d;">
						<iframe width="300" height="232"
							src="https://www.youtube.com/embed/CaVYTRntDsk" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
						<div class="card-body" style="margin: 10px 10px 10px 10px;">
							<h5 class="card-title">Too Late</h5>
							<p class="card-text"><span class="glyphicon glyphicon-music" aria-hidden="true"></span></p>
						</div>
					</div>
				</li>

				<li style="display: inline-block;">
					<div class="card"
						style="width: 300px; heigth: 36rem; background-color: #fff;box-shadow: 5px 10px #36383d;">
						<iframe width="300" height="232"
							src="https://www.youtube.com/embed/mK0qggVFfbg" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
						<div class="card-body" style="margin: 10px 10px 10px 10px;">
							<h5 class="card-title">Neben Dir</h5>
							<p class="card-text"><span class="glyphicon glyphicon-music" aria-hidden="true"></span></p>
						</div>
					</div>
				</li>
			</ul>
			<div th:replace="fragments/footer :: foot"></div>
		</div>
	</div>
</body>
<script>
var app = new Vue({
    el: '#root',
    data : { },
    mounted(){

    },
    methods: {

    }
});	
</script>
</html>