<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header('Login')" />
<body>
	<div id="root">
		<login-component></login-component>
		<table>
			<tr>
				<td><h3>NEW</h3></td>
				<form>
				<td>Name<input v-model="name" class="u-full-width" type="text"
					placeholder="" id="name" /></td>
				<td>Location<input v-model="location" class="u-full-width" type="text"
					placeholder="" id="location" /></td>
			</tr><tr>
				<td>Type<input v-model="type" class="u-full-width" type="text"
					placeholder="" id="type" /></td>
				<td>Genre<input v-model="genre" class="u-full-width" type="text"
					placeholder="" id="genre" /></td>
				<td>Internet<input v-model="internet" class="u-full-width" type="text"
					placeholder="" id="internet" /></td>
				<td><button class="btn btn-primary" v-on:click="save">Save</button></td>
				</form>
			</tr>

			<tr>
				<td>Aktuelle Bandliste herunterladen</td>
				<td><button class="btn btn-primary"
						onclick="location.href = '/download';">Download</button></td>
			</tr>
			<tr>
				<td>Neue Bandliste hochladen</td>
				<td>
					<form method="POST" action="/upload" enctype="multipart/form-data">
						<input class="btn btn-primary" type="file" name="file" /><input
							class="btn btn-primary" type="submit" value="Upload" />
					</form>
				</td>
			</tr>
			<tr>
				<td>Initiale Liste laden</td>
				<td>
					<button class="btn btn-primary" v-on:click="initbands">Reset
						all Banddata</button>
				</td>
			</tr>
		</table>


		<table class="table table-striped"
			style="background: radial-gradient(circle, #f7efe3, #b1bfd6)">
			<thead>
				<tr>
					<th scope="col">Name</th>
					<th scope="col">Location</th>
					<th scope="col">Type</th>
					<th scope="col">Genre</th>
					<th scope="col">Internet</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="band in bands">
					<td>{{band.name}}</td>
					<td>{{band.location}}</td>
					<td>{{band.type}}</td>
					<td>{{band.genre}}</td>
					<td><a :href=band.internet target="_blank">{{band.internet}}</a></td>
					<td><button class="btn btn-primary" @click='deleteband(band)'>delete</button></td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
<div th:replace="fragments/footer :: foot"></div>
<script>
    var app = new Vue({
        el: '#root',
        mounted() {
            Event.$on('logged-in',function(){
            	
            });
            this.fetchBands();
        },
        data:{
            name: '',
            location: '',
            type: '',
            genre: '',
            internet: '',
            bands: []
        },
        methods: {
            save(){
            	if (confirm('Save new band ' + this.name + '?')) {
	            	
            		var params = new URLSearchParams();
	           		
	            	axios.get("/addband?access_token=" + getCookie("access_token")
	           				+ "&name=" + this.name
	           				+ "&location=" + this.location
	           				+ "&type=" + this.type
	           				+ "&genre=" + this.genre
	           				+ "&internet=" + this.internet)
	           				  .then(function(response) {
	           		            		this.fetchBands();
			           		            this.name = '';
			           		         	this.location = '';
			           		      		this.type = '';
			           		   			this.genre = '';
			           					this.internet = '';
	                				}.bind(this));
            	}
            },
            initbands(){
            	if (confirm('Are you sure you want RESET the database?')) {
	            	axios.get("/initbands?access_token=" + getCookie("access_token")).then(function(response){
	            		this.fetchBands();
    	            }.bind(this));
            	} else {
            		
            	}
            },
            fetchBands(){
                axios.get("/bands").then(function(response){
                    this.bands = response.data;
                }.bind(this));
            },
            deleteband(band){
            	if (confirm('Delete ' + band.name + '?')) {
            		axios.get("/deleteband?id=" + band.id + "&access_token=" + getCookie("access_token"))
            		.then(function(response){
	            		this.fetchBands();
            		}.bind(this));
            	} else {
            		
            	}
            }
        }
    });
</script>
</html>